{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block background %}
  {% image page.background_image fill-2560x1440 as background %}
  <div id="background"
       style="background-image: url({{ background.url }});"></div>
  <div id="background-frost"></div>
{% endblock background %}

{% block content %}
  <section id="welcome">
    {{ page.welcome | richtext }}
  </section>
  <section id="highlights"><!-- 
    {% for highlight in page.highlights.all %}
    --><div class="highlight">
      {% include "home/includes/highlight.html" %}
    </div><!--
    {% endfor %} 
--></section>
  <section id="main-info" class="clearfix">
    {{ page.content|richtext }}
  </section>
{% endblock %}

{% block footer %}
<footer>
  {% include "includes/social_media.html" %}
  {% include "includes/bottom_menu.html" %}
  {% if page.background_attribution %}
  <div class="background-attribution">
    {% if page.background_attribution_link %}
    <a href="{{ page.background_attribution_link }}" target="_blank">{{ page.background_attribution }}</a>
    {% else %}
    {{ page.background_attribution }}
    {% endif %}
  </div>
  {% endif %}
</footer>
{% endblock footer %}

