/*-----------------------------------------------------------------------*/
/* Contact page */
/*-----------------------------------------------------------------------*/


/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #c65000  Tenne
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */


.content .left-column,
.content .right-column {
    display:               block;
    vertical-align:        top;
}
@media (min-width:1280px) {
.content .left-column {
    margin-right:          20px;
}
.content .left-column,
.content .right-column {
    display:               inline-block;
    width:                 calc(50% - 20px);
}
}

.contact {
    margin:                0;
    padding:               0 0 20px 0;
}
#contact-form {
    max-width:             490px;
}
#contact-form .field-wrapper {
    margin:                0;
    padding:               5px 0;
}
#contact-form .help {
    margin:                0;
    padding:               10px 0;
}
#contact-form label {
    margin:                0;
    padding:               5px 0 0 0;
    display:               inline-block;
    min-width:             130px;
    vertical-align:        top;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="number"],
#contact-form input[type="url"],
#contact-form input[type="date"],
#contact-form input[type="datetime-local"],
#contact-form textarea {
    margin:                0;
    padding:               0;
    width:                 100%;
    max-width:             350px;
    font-family:           Verdana, sans-serif;
    font-size:             16px;
    line-height:           normal;
}
#contact-form input[type="submit"],
#contact-form button {
    margin:                20px 0 0 0;
    padding:               0 10px;
    float:                 right;
}
