{% load website_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en_NZ" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% with page.get_site.site_name as site_name %}{% if site_name %} - {{ site_name }}{% endif %}{% endwith %}{% endblock %}</title>
    <meta name="description" content="" />
    {% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {% endblock %}
    {% block global_css %}
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
    {% endblock %}
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <div id="wrapper">
      {% block background %}
      {% endblock background %}

      {% block header %}
      <header class="clearfix">
        {% block top_menu %}
        {% website_menu %}
        {% endblock top_menu %}
        {% block contact_us %}
        {% endblock contact_us %}
        {% block banner %}
        {% endblock banner %}
      </header>
      {% endblock header %}

      {% block main %}
      <main id="main">
        {% block content %}
        {% endblock %}
      </main>
      {% endblock main %}
    </div> {# -- wrapper -- #}

    {% block footer %}
    <footer class="clearfix">
      {% block social_media %}
      {% include "includes/social_media.html" %}
      {% endblock social_media %}
      {% block bottom_menu %}
      {% include "includes/bottom_menu.html" %}
      {% endblock bottom_menu %}
    </footer>
    {% endblock footer %}

    {# Global javascript #}
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/ie10-viewport-bug-workaround.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website.js' %}"></script>

    {% block extra_js %}
    {% endblock %}
  </body>
</html>
