{% load wagtailcore_tags wagtailimages_tags %}
{% if events %}
    <h3>Events</h3>
    <div class="upcoming-events">
      {% for title, event in events %}
      <section class="event-item clearfix">
        <div class="event-item-title"><a href="{% pageurl event %}">{{ title }}</a></div>
        {% include "events/includes/event_item.html" with event=event %}
      </section>   
      {% endfor %}
    </div>
{% endif %}
