{% load wagtailcore_tags wagtailimages_tags %}
{% if events %}
    <div class="upcoming-events upcoming-events-detailed">
      {% for title, event in events %}
      <section class="event-item clearfix">
        <a class="event-title" href="{% pageurl event %}">{{ title }}</a>
        {% if event.image %}
        <div class="event-image">
          <a class="img-link" href="{% pageurl event %}">{% image event.image width-250 %}</a>
        </div>
        {% endif %}
        {% include "events/includes/who_when_where.html" with event=event %}
        <div class="event-details">
          {{ event.details|richtext|truncatewords_html:150 }}
        </div>
      </section>   
      {% endfor %}
    </div>
{% endif %}
