{% load wagtailcore_tags %}
<div class="top-bar">
  <div class="search-bar">
    <form class="search-box" action="/search/" method="get">
      <label for="top-search-box-q">Search website</label>
      <span class="search-widget">
        <input name="q" id="top-search-box-q" value="" type="text" placeholder="" />
        <a class="close-search" href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </span>
    </form>
  </div>
  <nav class="top-menu">
    <a class="menu-item {% if home.current %} current{% endif %}" href="{% pageurl home %}">{{ home.title }}</a><!--
    {% for menuitem in menuitems %}
    --><a class="menu-item {% if menuitem.current %} current{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }}</a><!--
    {% endfor menuitem %}
  --><a class="menu-item open-search" href=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
  </nav>
</div>
