/*-----------------------------------------------------------------------*/
/* Calendar */
/*-----------------------------------------------------------------------*/

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #950011  Carmine
 #c65000  Tenne
 #ffb442  Chick
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */

.page-heading h2 {
    margin:                0px;
    padding:               0px 0 10px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           400;
    font-size:             30px;
}

body.template-calendar .content-inner {
    padding-left:          0;
}

.events-view {
    float:                 right;
    text-align:            right;
    font-weight:           normal;
}
.events-type-links .cal-link {
    font-weight:           normal;
}

table.calendar {
    table-layout:          fixed;
    border-spacing:        0;
    border-collapse:       separate;
    border-radius:         5px;
    box-shadow:            0 4px 10px rgba(150, 150, 150, 0.2);
    width:                 100%

}
table.calendar thead tr th {
    background:            white;
    padding:               5px 0;
}
table.calendar tbody tr td {
    background:            white;
    width:                 14.285%;
    vertical-align:        top;
    padding:               2px 1px 2px 2px;
    position:              relative;
    overflow:              hidden;
}
table.calendar thead tr th {
    border-right:          1px dotted #aaa;
    border-bottom:         2px solid #36454f;

    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-size:             24px;
    font-weight:           400;
}
table.calendar tr td {
    border-right:          1px dotted #aaa;
    border-bottom:         1px dotted #aaa;
}
table.calendar tbody tr td.yesterday {
    border-right:          1px solid #ffb442;
}
table.calendar tbody tr td.lastweek {
    border-bottom:          1px solid #ffb442;
}
table.calendar tbody tr td.today {
    background:            #ffb442;
    border-right:          1px solid #ffb442;
    border-bottom:         1px solid #ffb442;
}
table.calendar thead tr th:last-child,
table.calendar tbody tr td:last-child {
    border-right:          none;
}
table.calendar tbody tr:last-child td {
    border-bottom:         none;
}
table.calendar thead tr.heading th {
    border-radius:         5px 5px 0 0;
    background:            #36454f;
    color:                 white;
    padding:               5px;
    text-align:            center;
    border:                none;

}
table.calendar thead tr.heading a {
    color:                 white;
}
table.calendar thead tr.heading a:hover,
table.calendar thead tr.heading a:active {
    color:                 white;
    text-decoration:       none;
}
table.calendar tbody tr:last-child td:first-child {
    border-radius:         0 0 0 5px;
}
table.calendar tbody tr:last-child td:last-child {
    border-radius:         0 0 5px 0;
}
.calendar .month-heading {
    display:               inline-block;
    padding:               0 4ex;
}
.calendar .month-heading a {
    font-family:           Verdana, sans-serif;
    font-weight:           bold;
    font-size:             19px;
}
.calendar .month-heading .month-name {
    display:               inline-block;
    width:                 10ex;
}
.calendar .week-heading {
    display:               inline-block;
    padding:               0 4ex;
}
.calendar .week-heading a {
    font-family:           Verdana, sans-serif;
    font-weight:           bold;
    font-size:             19px;
}
.calendar .week-heading .week-name {
    display:               inline-block;
    width:                 10ex;
}
.calendar .year-heading {
    display:               inline-block;
    padding:               0 4ex;
}
.calendar .year-heading a {
    font-family:           Verdana, sans-serif;
    font-weight:           bold;
    font-size:             19px;
}
.calendar .year-heading .year-number {
    display:               inline-block;
    width:                 6ex;
}
.calendar .day-title {
    margin:                0;
    padding:               2px 0 0px 0px;
    min-height:            25px;

}
.calendar .day-title .holiday-name {
    margin:                0;
    padding:               2px 0 1px 30px;
    font-size:             14px;
    line-height:           15px;
    color:                 #950011;

    font-family:           'Londrina Solid', sans-serif;
    font-size:             20px;
    line-height:           20px;
    font-weight:           400;
    vertical-align:        top;
}
.calendar .weekly-view .day-title .holiday-name {
    padding-left:          70px;
}
.calendar .day-title h4 {
    padding:               0px 0 1px 2px;
    color:                 #36454f;
    float:                 left;

    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-size:             20px;
    font-weight:           400;
}
.calendar th.sun,
.calendar .holiday h4,
.calendar .sun h4 {
    color:                 #950011;
}
.calendar .days-events {
    clear:                 both;
    min-width:             8ex;
    /* min-height:            10ex; */
}
.calendar .weekly-view .days-events {
    min-height:            64ex;
}
.calendar .days-events .event {
    display:               block;
    line-height:           16px;
    /* padding-left:          40px; */
    /* text-indent:          -40px; */
}
.calendar .days-events a.event {
    color:                 #36454f;
}
.calendar .days-events a.event:active {
    background:            transparent;
}
.calendar .days-events .event-time {
    font-size:             9px;
}
.calendar .days-events .event-title {
    font-size:             12px;
}

.calendar td.day a.read-more {
    position:              absolute;
    bottom:                0;
    right:                 0;
    text-align:            right;
    margin:                0px;
    padding:               5px;
    color:                 white;
    background:            #00447b;
    font-size:             12px;
    line-height:           12px;
    white-space:           nowrap;
}
#overlay {
}
.popup-outer {
}
.popup {
    background:            white;
    border:                1px dotted #aaa;
    overflow:              auto;
}
.popup .close {
}
