/*-----------------------------------------------------------------------*/
/* Events */
/*-----------------------------------------------------------------------*/

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #950011  Carmine
 #cc0000  Guardsman
 #ff6600  Safety
 #c65000  Tenne
 #ffb442  Chick
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */

.event-heading h2,
.page-heading h2 {
    margin:                0px;
    padding:               0px 0 10px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           400;
    font-size:             30px;
}

.content section a.event-title {
    margin-left:         -50px;
    font-family:           'Catamaran', sans-serif;
    font-size:            23px;
    line-height:          normal;
    font-weight:          bold;
}

.calendar-events-view {
    float:                 right;
    text-align:            right;
    font-weight:           normal;
}
.events-type-links .cal-link {
    font-weight:           normal;
}

.event-status {
    float:                right;
    color:                #cc0000;
    font-weight:          bold;
}

.event-image img {
    display:               block;
    border-radius:         4px;
    margin-bottom:         4px;
}

.event-item-title {
    font-size:            16px;
    font-weight:          bold;
}
.event-group-page {
    font-size:            16px;
    font-weight:          bold;
}

.event-when,
.event-next-on,
.event-location {
    font-size:             17px;
}
.event-postponed-from {
    font-size:             15px;
}
.event-extra-info {
    margin:                16px -10px;
    padding:               16px 10px 10px 10px;
    border:                1px solid #ff6600;
    border-radius:         4px;
}

.event-cancellation-details,
.event-details {
    padding-top:           16px;
}
