{% extends "wagtailadmin/skeleton.html" %}
{% load i18n staticfiles wagtailadmin_tags dashboard_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery-ui/jquery-ui-1.10.3.verdant.css' %}" />
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery.tagit.css' %}">
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}" type="text/css" />
{% endblock %}

{% block branding_favicon %}
    <link rel="shortcut icon" href="{% static 'wagtailadmin/images/favicon.ico' %}" />
{% endblock %}

{% block furniture %}
    <div class="content-wrapper">
        {% if messages or form.errors %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <h1>Please let us know who you are</h1>
        <p>(If you already have an account you can log in <a href="{{ loginUrl }}">here</a>.)</p>
        <form action="{{ request.path }}" method="post">
            {% url 'wagtailadmin_home' as home_url %}
            <input type="hidden" name="next" value="{{ next|default:home_url }}" />
            <ul class="fields">
                {% csrf_token %}
                {{ form.as_ul }}
                <li class="submit">
                    <button type="submit" class="button button-longrunning" tabindex="3" data-clicked-text="...."><span class="icon icon-spinner"></span><em>Save</em></button>
                </li>
            </ul>
        </form>

    </div>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script>
    $(function(){
        $('form input[name=username]').focus();
    })
</script>
{% endblock %}
