{% load static wagtailcore_tags website_tags %}
<h1>{{ page.title }}</h1>
{% if settings.website.AddressSettings.phone %}
<div class="phone contact">
  <p class="phone">{{ settings.website.AddressSettings.phone }}</p>
</div>
{% endif %}
<div class="social-media contact">
  {% if settings.website.LinksSettings.facebook %}
  <a target="_blank" href="{{ settings.website.LinksSettings.facebook }}">Facebook</a>
  {% endif %}
</div>
<div class="phys-address contact">
  <h3>Office Location</h3>
  {% if settings.website.AddressSettings.phys_care_of %}
  <p class="address">{{ settings.website.AddressSettings.phys_care_of }}</p>
  {% endif %}
  <p class="address">{{ settings.website.AddressSettings.phys_address1 }}</p>
  {% if settings.website.AddressSettings.phys_address2 %}
  <p class="address">{{ settings.website.AddressSettings.phys_address2 }}</p>
  {% endif %}
  <p class="address">{{ settings.website.AddressSettings.phys_town }}</p>
  <p class="address">{{ settings.website.AddressSettings.phys_postcode }}</p>
  {% if settings.website.AddressSettings.phys_latlng %}
  {% get_google_maps_key as google_maps_key %}
  <a class="map img-link" href="https://www.google.co.nz/maps/place/{{ settings.website.AddressSettings.phys_latlng|urlencode }}" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?key={{ google_maps_key }}&size=450x250&center={{ settings.website.AddressSettings.phys_latlng|urlencode }}&zoom={{ page.map_zoom }}&markers=icon:http://core.org.nz/mapmarker.png%7C{{ settings.website.AddressSettings.phys_latlng }}" /></a>
  {% endif %}
</div>
{% if settings.website.AddressSettings.post_address1 or settings.website.AddressSettings.post_town or settings.website.AddressSettings.post_postcode %}
<div class="post-address contact">
  <h3>Postal Address</h3>
  {% if settings.website.AddressSettings.post_care_of %}
  <p class="address">{{ settings.website.AddressSettings.post_care_of }}</p>
  {% endif %}
  {% if settings.website.AddressSettings.post_address1 %}
  <p class="address">{{ settings.website.AddressSettings.post_address1 }}</p>
  {% endif %}
  {% if settings.website.AddressSettings.post_address2 %}
  <p class="address">{{ settings.website.AddressSettings.post_address2 }}</p>
  {% endif %}
  {% if settings.website.AddressSettings.post_town %}
  <p class="address">{{ settings.website.AddressSettings.post_town }}</p>
  {% endif %}
  {% if settings.website.AddressSettings.post_postcode %}
  <p class="address">{{ settings.website.AddressSettings.post_postcode }}</p>
  {% endif %}
</div>
{% endif %}
{% if page.more_details %}
<div class="more-details contact">
  <h3>More Contact Details</h3>
  {{ page.more_details|richtext }}
</div>
{% endif %}

