{% load wagtailcore_tags %}

<div id="contact-form">
  {{ page.intro|richtext }}
  <form action="{% pageurl page %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="field-wrapper">
      {{ field.errors }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Send">
  </form>
</div>
