/*-----------------------------------------------------------------------*/
/* CoRe theme style                                                       */
/*-----------------------------------------------------------------------*/

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #c65000  Tenne
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */


/*--HTML/Body----------------------------------------------------------------*/
body {
    font-family:           'Catamaran', sans-serif;
}

/*--Header-------------------------------------------------------------------*/
header {
    position:              relative;
}
header .banner {
    width:                 100%;
    margin:                0;
    padding:               0px 10px;
}
header .banner .logo-link {
    padding:               0px 20px;
    display:               inline;
}
header .banner .small-logo-link {
    display:               none;
}
header .banner .logo {
    margin-top:            -5px;
}

@media (max-width:800px) {
header .banner {
    text-align:            center;
    margin-top:            5px;
}
header .banner .logo-link {
    display:               none;
}
header .banner .small-logo-link {
    display:               inline;
}
}
}

/*--Headings-----------------------------------------------------------------*/
h1 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           100;
    font-size:             28px;
}
h2 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           100;
    font-size:             26px;
}
h3 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           100;
    font-size:             24px;
}
h4 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           100;
    font-size:             18px;
}
