/*-----------------------------------------------------------------------*/
/* Site wide style                                                       */
/*-----------------------------------------------------------------------*/

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 */

/*--HTML/Body----------------------------------------------------------------*/
html {
    height:                100%;
    background:            white;
    color:                 #36454f;
    box-sizing:            border-box;
}
*, *:before, *:after {
    box-sizing:           inherit;
}
body { 
    background:            white;
    color:                 #36454f;
    margin:                0;
    border:                0;
    padding:               0;
    height:                100%;
    font-size:             16px;
    line-height:           18px;
    font-family:           Verdana, sans-serif;
    width:                 100%;
}
#wrapper {
    /* sticky footer, fluid, although with a min-height */
    position:              relative;
    width:                 100%;
    min-height:            95%;
    min-height:            calc(100% - 30px);
    min-width:             320px;
    overflow:              hidden;
}
footer {
    min-height:            30px;
}

/*--Headings-----------------------------------------------------------------*/
h1 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    font-weight:           normal;
    font-size:             22px;
    line-height:           normal;
}
h2 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    font-size:             20px;
    margin:                0;
    line-height:           normal;
}
h3 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    font-size:             18px;
    line-height:           normal;
}
h4 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    font-size:             16px;
}

/*--Links----------------------------------------------------------------*/
a, a:link     {
    color:                 #36454f;
    text-decoration:       none; 
}
a:visited  {  
    color:                 #36454f;
}
a:hover    { 
    color:                 #36454f;
}
a:active   { 
    background-color:      #36454f;
    color:                 white; 
}
a:hover.img-link,
a.img-link { 
    background-color:      transparent; 
    text-decoration:       none;
    outline:               0;
}
a img {
    border:                none;
}

/*--Header-------------------------------------------------------------------*/
header {
    position:              relative;
    margin:                0;
    padding:               0;
    width:                 100%;
}
header .top-bar {
    position:              relative;
    margin:                0;
    padding:               10px 10px 0px 10px;
    text-align:            center;
}
header .search-bar {
    display:               none;
}
header .search-box {
    z-index:               2;
    width:                 100%;
    padding:               10px 0px;
    /* margin-bottom:         10px; */
    margin:                0;
    background:            rgba(238, 238, 238, 0.53);
}
header .search-box input {
    width:                 80%;
    max-width:             75em;
    color:                 #36454f;
    background:            transparent;
    border:                none;
    outline:               none;
    font-size:             16px;
}

header .top-menu {
}
header .top-menu a,
header .top-menu a:visited,
header .top-menu a:link {
    display:               inline-block;
    margin:                0px;
    padding:               8px 15px 8px 15px;
    text-decoration:       none; 
    font-size:             16px;
    line-height:           16px;
    cursor:                pointer;
    white-space:           nowrap;
    background-color:      transparent;
    color:                 #36454f;
}
header .top-menu a:active,
header .top-menu a.current:active {
    padding:               7px 14px 7px 14px;
    border:                1px solid #36454f;
}
header .top-menu a.current {
    background-color:      #36454f;
    color:                 white;
    margin:                0px;
    padding:               8px 15px 8px 15px;
}

header .contact-us-link {
    z-index:               2;
    position:              relative;
    float:                 right;
    padding:               10px;
    margin:                5px 20px 5px 20px;
}

header .contact-us-link .glyphicon {
    font-size:             18px;
}

/*--Footer-------------------------------------------------------------------*/
footer {
    position:              relative;
    width:                 100%;
    margin:                0;
    padding:               1px;
    background-color:      #36454f;
    color:                 white;
    font-size:             12px;
}
footer a,
footer a:visited,
footer a:link {
    color:                 #eee;
}
footer a:hover {
    color:                 white;
}

/*--Misc---------------------------------------------------------------------*/
p {
    margin:                0 0 1ex 0;
}
figcaption {
    font-size:             12px;
    text-align:            center;
}

figure.image-block,
figure.video-block {
    display:               inline-block;
}

img.right,
figure.image-block.right,
figure.video-block.right {
    float:                 right;
    margin:                0 0 10px 10px;
}

figure.image-block.centre,
figure.video-block.centre {
    width:                 100%;
}
img.centre,
figure.image-block.centre img,
figure.video-block.centre img {
    display:               block;
    margin:                0 auto;
}

ul {
    margin:                0;
    list-style:            square outside;
}
b {
    font-weight:           bold;
}

.clearfix:before,
.clearfix:after {
    content:               "";
    display:               table;
}
.clearfix:after {
    clear:                 both;
}

.together {
    display:               inline-block;
}

#overlay {
    position:              fixed;
    top:                   0;
    left:                  0;
    width:                 100%;
    height:                100%;
    background:            #121524;
    opacity:                .75;
    filter:    alpha(opacity=75);
    z-index:               2;
}

.popup-outer {
    position:              fixed;
    top:                   50px;
    left:                  0;
    width:                 100%;
    padding-bottom:        15px;
    z-index:               3;
}
.popup {
    position:              relative;
    padding:               10px 20px 50px 20px;
    background:            ghostwhite;
    width:                 400px;
    margin:                50px auto 10px auto;
    border:                2px solid green;
}
.popup .close {
    position:              absolute;
    top:                   5px;
    right:                 20px;
    line-height:           20px;
    text-decoration:       none;
    outline:               0;
}

/*-----------------------------------------------------------------------*/
/* Plain Tables and Lists */
/*-----------------------------------------------------------------------*/
table.plain {
    border-collapse:       collapse;
    border-spacing:        0px;
}
table.plain tr {
}
table.plain th {
    text-align:            left;
    margin:                0px;
    padding:               5px 0 5px 0;
    font-family:           "Arial",sans-serif;
    font-size:             16px;
}
table.plain td {
    padding:               0px 40px 2px 0;
}

ul.plain {
    padding:               0;
    margin:                0;
    list-style-type:       none;
}

/*-----------------------------------------------------------------------*/
/* Forms */
/*-----------------------------------------------------------------------*/
form fieldset {
	border:                0;
    margin:                0;
	padding:               0;
}

/*-----------------------------------------------------------------------*/
/* Content */
/*-----------------------------------------------------------------------*/

#main {
    position:              relative;
}
.content {
    padding:               40px 10%; /* 7.5% ? */
    margin:                0px;
}
.content-inner {
    padding:               0px;
}
.content-inner .rich-text {
}
.content section {
    padding:               0px 0 40px 50px;
}
.content section h1,
.content section h2 {
    margin-left:           -50px;
}

.content .left-column,
.content .right-column {
    display:               inline-block;
    width:                 calc(50% - 20px);
    vertical-align:        top;
}
.content .left-column {
    min-width:             500px;
}
.content .right-column {
    margin-left:           20px;
}

/*-----------------------------------------------------------------------*/
a.inline-link,
a.inline-link:link,
.rich-text a,
.rich-text a:link     {
    text-decoration:       none; 
    border-bottom:         1px dashed rgba(85, 102, 119, 0.4);
}
a.inline-link:active,
.rich-text a:active   { 
    color:                 white; 
}
a.inline-link:hover,
.rich-text a:hover    { 
    border-bottom:         none;
}

a.ticket:visited,
a.ticket:hover,
a.ticket:active,
a.ticket {
    background:            #eee;
    text-decoration:       none;
    outline:               0;
}
a.ticket:hover h3 {
}
a.ticket:active h3 {
    color:                 white;
    background-color:      #36454f;
}

.content .ticket {
    padding:               0px 0 10px 0;
    margin:                0;
    display:               block;
}

/*-----------------------------------------------------------------------*/
.content .card {
    padding:               0px;
    margin:                0px 0px 20px 0 ;
}
.content .card figure {
    display:               inline-block;
    padding:               0px;
    margin:                5px 0px;
}
@media (min-width:800px) {
.content .card figure {
    float:                 left;
}
.content .card p {
    margin-left:           280px;
}
}

/*-----------------------------------------------------------------------*/
.colour {
    margin:                0;
    padding:               10px 20px 20px 4px;
    font-size:             110%;
}
.colour .rich-text {
    padding:               60px 85px;
    border-radius:         10px;
}

.fg-smalt .rich-text * {
    color:                 #00448f;
}
.fg-smalt .rich-text * {
    color:                 #00448f;
}
.fg-jewel .rich-text * {
    color:                 #0d6759;
}
.fg-forest .rich-text * {
    color:                 #228B22;
}
.fg-crusoe .rich-text * {
    color:                 #114611;
}
.fg-kowhai .rich-text * {
    color:                 #eadc18;
}
.fg-midnight .rich-text * {
    color:                 #111111;
}
.fg-alabaster .rich-text * {
    color:                 #f7f7f0;
}
.fg-white .rich-text * {
    color:                 white;
}
.fg-freespeech .rich-text * {
    color:                 #b30000;
}
.bg-smalt .rich-text {
    background-color:      #00448f;
}
.bg-jewel .rich-text {
    background-color:      #0d6759;
}
.bg-forest .rich-text {
    background-color:      #228B22;
}
.bg-crusoe .rich-text {
    background-color:      #114611;
}
.bg-kowhai .rich-text {
    background-color:      #eadc18;
}
.bg-midnight .rich-text {
    background-color:      #111111;
}
.bg-alabaster .rich-text {
    background-color:      #f7f7f0;
}
.bg-freespeech .rich-text {
    background-color:      #b30000;
}
.bg-white .rich-text {
    background-color:      white;
}

/*-----------------------------------------------------------------------*/
.web-slider-heading {
    display:               inline-block;
    margin:                0;
    padding:               5px 0;
}
.web-slider-heading .title {
    margin:                0;
    padding:               5px 0;
}
.web-slider-heading:before {
    position:              relative;
    top:                   1px;
    width:                 24px;
    display:               inline-block;
    font-family:           'Glyphicons Halflings';
    font-style:            normal;
    font-weight:           normal;
    line-height:           1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.web-slider-up .web-slider-heading:before {
    margin-left:           -24px;
    content:               "\e258";
}
.web-slider-down .web-slider-heading:before {
    margin-left:           -24px;
    content:               "\e259";
}

.web-slider-heading .title {
    font-family:           "Arial",sans-serif;
    font-size:             16px;
    font-weight:           bold;
}

.web-slider-drawer {
    display:               none;
    min-height:            20px;
}

/*-----------------------------------------------------------------------*/
/* Search */
/*-----------------------------------------------------------------------*/
.template-searchresults ul {
    padding: 0;
}

.template-searchresults li {
    padding:               2px 10px 1px 44px;
    margin:                0 0 10px 0;
    display:               block;
    min-height:            28px;
}

/*-----------------------------------------------------------------------*/
/* Page Index */
/*-----------------------------------------------------------------------*/

.page-index {
    border-top:            1px solid #556677;
    padding:               30px 20px 20px 20px;
}

.page-index a,
.page-index a:link,
.page-index a:hover,
.page-index a:visited  {  
    text-decoration: none; 
}
.page-index a:hover .item-heading  { 
}
.page-index a:active .item-heading  { 
    color:                 white; 
    background-color:      black;
}

.page-index .item {
    padding:               2px 10px 1px 44px;
    margin:                0 0 10px 0;
    display:               block;
    background-image:      url(/static/img/pounamu_koru_28x28.png);
    background-repeat:     no-repeat;
    background-position:   0px 0px;
    min-height:            28px;
}
.page-index .item-heading {
    display:               inline;
    font-weight:           bold;
    font-size:             18px;
}



