{% extends "base.html" %}
{% load website_tags static %}

{% block favicon %}
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'themes/core/img/favicon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'themes/core/img/favicon-152x152.png' %}" />
  <link rel="icon" type="image/png"        sizes="32x32"   href="{% static 'themes/core/img/favicon-32x32.png'   %}" />
  <link rel="icon" type="image/png"        sizes="16x16"   href="{% static 'themes/core/img/favicon-16x16.png'   %}" />
  <meta name="msapplication-TileImage"                  content="{% static 'themes/core/img/favicon-144x144.png' %}" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
{% endblock %}
{% block global_css %}
  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
{% endblock global_css %}

{% block banner %}
{% endblock banner %}
