/*-----------------------------------------------------------------------*/
/* Groups */
/*-----------------------------------------------------------------------*/

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #c65000  Tenne
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */

.page-heading h2 {
    margin:                0px;
    padding:               0px 0 10px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           400;
    font-size:             30px;
}

#main-info {
    margin:                0;
    padding:               0 0px 40px 0px;
}
.directory-list {
    margin:                0 -40px 0 0;
    padding:               10px 0;
}
.directory-list h3.category-title {
    text-decoration:       underline;
    overflow:              hidden;
    margin:                0px;
    padding:               0px 0 5px 0;
    line-height:           normal;
    font-family:           'Londrina Solid', sans-serif;
    font-weight:           400;
    font-size:             21px;
    line-height:           26px;

}
.directory-column {
    margin:                0 0 30px 0;
    padding:               0 5px 50px 0px;
    width:                 285px;
    height:                670px;
    display:               inline-block;
    overflow:              hidden;
    vertical-align:        top;
    border-bottom:         2px solid #36454f;

}
.directory-list .group-item {
    margin:                0 0 25px 0;
    padding:               0;
    display:               block
    width:                 260px;
    max-height:            142px;
    overflow:              hidden;
}
.directory-list a.group-title {
    font-size:             16px;
    font-weight:           bold;
}

@media (max-width:660px) {
.directory-column {
    margin:                0;
    padding:               0;
    height:                auto;
    border-bottom:         none;

}
}

.group-long-address {
    margin:                0;
    padding:               10px 0;
}

