{% load website_tags static %}
<div class="bottom-menu">
{% get_by_url_path "/home/terms-of-use/" as terms_of_use %}
<!-- 
{% if terms_of_use %}
  --><a class="menu-item" href="{{ terms_of_use.url }}">Terms of use</a><!--
{% endif %}
{% get_by_url_path "/home/about-us/" as about_us %}
{% if about_us %}
  --><a class="menu-item" href="{{ about_us.url }}">About us</a><!--
{% endif %}
-->
</div>

