{% load website_tags wagtailcore_tags static %}
<div class="social-media">
<!--
  {% if settings.website.LinksSettings.vimeo %}
  --><a class="vimeo social-icon img-link" title="Vimeo"
     target="_blank" href="{{ settings.website.LinksSettings.vimeo }}"><img 
     class="" src="{% static 'img/social-icons.png' %}" alt="Vimeo" width="1" height="1" /></a><!--
  {% endif %}
  {% if settings.website.LinksSettings.facebook %}
  --><a class="facebook social-icon img-link" title="Facebook"
     target="_blank" href="{{ settings.website.LinksSettings.facebook }}"><img 
     class="" src="{% static 'img/social-icons.png' %}" alt="Facebook" width="1" height="1" /></a><!--
  {% endif %}
  {% if settings.website.LinksSettings.twitter %}
  --><a class="twitter social-icon img-link" title="Twitter"
     target="_blank" href="{{ settings.website.LinksSettings.twitter }}"><img 
     class="" src="{% static 'img/social-icons.png' %}" alt="Twitter" width="1" height="1" /></a><!--
  {% endif %}
  {% if settings.website.LinksSettings.instagram %}
  --><a class="instagram social-icon img-link" title="Instagram"
     target="_blank" href="{{ settings.website.LinksSettings.instagram }}"><img 
     class="" src="{% static 'img/social-icons.png' %}" alt="Instagram" width="1" height="1" /></a><!--
  {% endif %}
  {% get_by_url_path "/home/contact-us/" as contact_us %}
  {% if contact_us %}
  --><a class="contact-us social-icon img-link" title="Contact us"
     href="{% pageurl contact_us %}"><img 
     class="" src="{% static 'img/social-icons.png' %}" alt="Contact us" width="1" height="1" /></a><!--
  {% endif %}
-->
</div>

