/*-----------------------------------------------------------------------*/
/* Website admin style */
/*-----------------------------------------------------------------------*/

.web-half-field {
    display:                 inline-block;
    width:                   40%;
}
.web-half-field .field-content {
    width:                   100%;
}

.web-colour-field select[class^="smalt_"],
.web-colour-field option[value^="smalt_"] {
    color:                 #00448f;
}
.web-colour-field select[class^="jewel_"],
.web-colour-field option[value^="jewel_"] {
    color:                 #0d6759;
}
.web-colour-field select[class^="forest_"],
.web-colour-field option[value^="forest_"] {
    color:                 #228B22;
}
.web-colour-field select[class^="crusoe_"],
.web-colour-field option[value^="crusoe_"] {
    color:                 #114611;
}
.web-colour-field select[class^="kowhai_"],
.web-colour-field option[value^="kowhai_"] {
    color:                 #eadc18;
}
.web-colour-field select[class="midnight_"],
.web-colour-field option[value^="midnight_"] {
    color:                 #111111;
}
.web-colour-field select[class^="alabaster_"],
.web-colour-field option[value^="alabaster_"] {
    color:                 #f7f7f0;
}
.web-colour-field select[class^="white_"],
.web-colour-field option[value^="white_"] {
    color:                 white;
}
.web-colour-field select[class^="freespeech_"],
.web-colour-field option[value^="freespeech_"] {
    color:                 #b30000;
}

.web-colour-field select[class$="_smalt"],
.web-colour-field option[value$="_smalt"] {
    background-color:      #00448f;
}
.web-colour-field select[class$="_jewel"],
.web-colour-field option[value$="_jewel"] {
    background-color:      #0d6759;
}
.web-colour-field select[class$="_forest"],
.web-colour-field option[value$="_forest"] {
    background-color:      #228B22;
}
.web-colour-field select[class$="_crusoe"],
.web-colour-field option[value$="_crusoe"] {
    background-color:      #114611;
}
.web-colour-field select[class$="_kowhai"],
.web-colour-field option[value$="_kowhai"] {
    background-color:      #eadc18;
}
.web-colour-field select[class$="_midnight"],
.web-colour-field option[value$="_midnight"] {
    background-color:      #111111;
}
.web-colour-field select[class$="_alabaster"],
.web-colour-field option[value$="_alabaster"] {
    background-color:      #f7f7f0;
}
.web-colour-field select[class$="_white"],
.web-colour-field option[value$="_white"] {
    background-color:      white;
}
.web-colour-field select[class$="_freespeech"],
.web-colour-field option[value$="_freespeech"] {
    background-color:      #b30000;
}

