/*-----------------------------------------------------------------------*/
/* NewCoasters theme style */
/*-----------------------------------------------------------------------*/

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #c65000  Tenne
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */

/*--Fonts--------------------------------------------------------------------*/
@font-face {
  font-family: 'Complete in Him';
  font-style: normal;
  font-weight: 400;
  src: local('Complete in Him'),
       local('Complete-in-Him'),
       url("fonts/Complete in Him.ttf") format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller Regular'),
       url(fonts/Aller_Rg.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 400;
  src: local('Aller Italic'),
       url(fonts/Aller_It.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 200;
  src: local('Aller Light'),
       url(fonts/Aller_Lt.ttf) format('truetype');
}

/*--Headings-----------------------------------------------------------------*/
h1 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #71a391;
    display:               table;
    line-height:           normal;
    font-family:           'Complete in Him', sans-serif;
    font-weight:           500;
    font-size:             52px;
}
h2 {
    margin:                0 0 5px 0;
    padding:               5px 10px 0 10px;
    color:                 #71a391;
    display:               table;
    line-height:           normal;
    font-family:           'Complete in Him', sans-serif;
    font-weight:           bold;
    font-size:             48px;
}
h3 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Complete in Him', sans-serif;
    font-weight:           bold;
    font-size:             42px;
}
h4 {
    margin:                0px;
    padding:               0px 0 5px 0;
    color:                 #36454f;
    line-height:           normal;
    font-family:           'Complete in Him', sans-serif;
    font-weight:           bold;
    font-size:             32px;
}

/*--Header-------------------------------------------------------------------*/
header {
    position:              relative;
}
header .banner {
    width:                 100%;
    margin:                0;
    padding:               0px 10px;
}
header .banner .logo-link {
    padding:               0px 20px;
    display:               inline;
}
header .banner .small-logo-link {
    display:               none;
}
header .banner .logo {
    margin-top:            -5px;
}

@media (max-width:800px) {
header .banner {
    text-align:            center;
    margin-top:            5px;
}
header .banner .logo-link {
    display:               none;
}
header .banner .small-logo-link {
    display:               inline;
}
}

/*--Content------------------------------------------------------------------*/
.content {
    font-family:           'Aller', sans-serif;
    font-weight:           200;
    font-size:             17px;
    line-height:           normal;
}
