{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'contact/css/contact.css' %}"> 
{% endblock %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="content">
  <div class="left-column">
    {% include "contact/includes/contact_details.html" %}
  </div>
  <div class="right-column">
    {% include "contact/includes/contact_form.html" %}
  </div>
</div>
{% endblock %}
