{% load wagtailcore_tags events_tags share_tags %}

{% block cal_options %}
<div class="calendar-options clearfix">
  {% block cal_events_view %}
  <div class="calendar-events-view">
    {# {% share_one_off_event %} #}
    <span class="together">List View</span> | 
    <a class="together" href="{% pageurl page.calendarLink %}{% now "o/\WW" %}" class="weekly">Weekly View</a> |
    <a class="together" href="{% pageurl page.calendarLink %}{% now "Y/m" %}" class="monthly">Monthly View</a>
  </div>
  {% endblock cal_events_view %}
  {% block events_type_links %}
  <div class="events-type-links">
    {% with links=page.listLinks %}
    {% include "events/includes/events_type_link.html" with link=links.0 link1=links.1 link2=links.2 %}
    {% include "events/includes/events_type_link.html" with link=links.1 link1=links.2 %}
    {% include "events/includes/events_type_link.html" with link=links.2 %}
    {% endwith %}
  </div>
  {% endblock events_type_links %}
</div>
{% endblock cal_options %}
