{% load wagtailcore_tags wagtailimages_tags %}
<div class="event-when">
  {{ event.when }}
</div>
{% if event.next_on %}
<div class="event-next-on">
  Next on {{ event.next_on }}
</div>
{% endif %}
{% if event.location %}
<div class="event-location">
  {{ event.location }}
</div>
{% endif %}
{% if event.website %}
<div class="event-website">
  <a href="{{ event.website }}" target="_blank">{{ event.website }}</a>
</div>
{% endif %}
