{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'groups/css/groups.css' %}">
{% endblock %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="content">
  <div class="page-heading">
    <h2>{{ page.title }}</h2>
  </div>
  <section id="main-info">
    {{ page.content|richtext }}
  </section>
  <div class="directory-list clearfix">
<!--
    {% for column in page.columns %}
    --><div class="directory-column">
        {% for item in column %}
          {% if item.item_type == "GroupCategory" %}
            <h3 class="category-title">{{ item.name }}</h3>
          {% else %}
            <div class="group-item">
              <a class="group-title"
                 href="{% pageurl item %}">{{ item.title }}</a>
              {% include "groups/includes/group_contact.html" with group=item %}
              {% include "groups/includes/group_short_address.html" with group=item %}
            </div>
          {% endif %}
        {% endfor %}
      </div><!--
    {% endfor %}
-->
  </div>
</div>
{% endblock %}
