{% extends "base.html" %}
{% load static events_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'groups/css/groups.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="content">
  <div class="page-heading">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="group clearfix">
    {% include "groups/includes/group_contact.html" with group=page %}
    {% include "groups/includes/group_long_address.html" with group=page %}
    {% include "groups/includes/group_details.html" with group=page %}
    {% group_upcoming_events %}
  </div>
</div>
{% endblock %}
