{% extends "base.html" %}
{% load website_tags static %}

{% block favicon %}
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'themes/newcoasters/img/favicon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'themes/newcoasters/img/favicon-152x152.png' %}" />
  <link rel="icon" type="image/png"        sizes="32x32"   href="{% static 'themes/newcoasters/img/favicon-32x32.png'   %}" />
  <link rel="icon" type="image/png"        sizes="16x16"   href="{% static 'themes/newcoasters/img/favicon-16x16.png'   %}" />
  <meta name="msapplication-TileImage"                  content="{% static 'themes/newcoasters/img/favicon-144x144.png' %}" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
{% endblock %}
{% block global_css %}
  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'themes/newcoasters/css/newcoasters.css' %}">
{% endblock %}

{% block banner %}
{% get_default_site as default_site %}
    <div class="banner clearfix">
      <a class="img-link logo-link" href="{{ request.site.root_url }}"><img class="logo" src="{% static 'themes/newcoasters/img/newcoasters_colour_200x200.png' %}" alt="" /></a>
      <a class="img-link small-logo-link" href="{{ request.site.root_url }}"><img class="small-logo" src="{% static 'themes/newcoasters/img/newcoasters_colour_100x100.png' %}" alt="" /></a>
    </div>
{% endblock banner %}
