{% load wagtailcore_tags %}
{% if group.contact %}
<div class="group-contact">
  {{ group.contact }}
</div>
{% endif %}
{% if group.phone %}
<div class="group-phone">
  Ph {{ group.phone }}
</div>
{% endif %}
{% if group.email %}
<div class="group-email">
  {{ group.email }}
</div>
{% endif %}
{% if group.alternative_contact %}
<div class="group-alternative_contact">
  {{ group.alternative_contact }}
</div>
{% endif %}
{% if group.alternative_phone %}
<div class="group-alternative_phone">
  Ph {{ group.alternative_phone }}
</div>
{% endif %}
{% if group.alternative_email %}
<div class="group-alternative_email">
  {{ group.alternative_email }}
</div>
{% endif %}
{% if group.website %}
<div class="group-website">
  <a href="{{ group.website }}" target="_blank">{{ group.website }}</a>
</div>
{% endif %}
