{% load wagtailcore_tags %}
{% if group.address %}
<div class="group-long-address">
  {% if group.address1 %}
  <div class="group-address1">
    {{ group.address1 }}
  </div>
  {% endif %}
  {% if group.address2 %}
  <div class="group-address2">
    {{ group.address2 }}
  </div>
  {% endif %}
  <div class="group-town-postcode">
    {{ group.town }} {{ group.postcode }}
  </div>
</div>
{% endif %}
