{% load wagtailcore_tags wagtailimages_tags static %}
<div class="highlight-details">    
  {% if highlight.page %}
  <a href="{% pageurl highlight.page %}">
    <h2>{{ highlight.title }}</h2>
    {{ highlight.blurb|richtext }}
  </a>
  {% else %}
  <h2>{{ highlight.title }}</h2>
  {{ highlight.blurb|richtext }}
  {% endif %}
</div>
{% image highlight.image fill-212x130 as rendition %}
{% if highlight.page %}
<a class="img-link" href="{% pageurl highlight.page %}"><img class="highlight-image"
     src="{{rendition.url}}" alt="" title="{{highlight.title}}"
     width="{{rendition.width}}" height="{{rendition.height}}" /></a>
{% else %}
<img class="highlight-image" src="{{rendition.url}}" alt="" title="{{highlight.title}}"
     width="{{rendition.width}}" height="{{rendition.height}}" />
{% endif %}
