/*-----------------------------------------------------------------------*/
/* Home page */
/*-----------------------------------------------------------------------*/

@import url("vendor/gf-architectsdaughter.css");

/* color scheme
 black    Black
 white    White
 #36454f  Charcoal
 #c65000  Tenne
 #00447b  Newcomers-blue
 #f8a15d  Newcomers-orange
 #71a391  Newcomers-teal
 */

body { 
    font-family:           'Catamaran', sans-serif;
}
#wrapper {
}
footer {
}
#background {
    position:              fixed;
    width:                 100%;
    height:                100%;
    background-repeat:     no-repeat;
    background-attachment: fixed;
    background-size:       cover;
    background-position:   center center;
    background-color:      white;
}
#background-frost {
    position:              fixed;
    width:                 100%;
    height:                100%;
    background:            rgba(238, 238, 238, 0.5);
}

a.menu-item,
a.menu-item:visited,
a.menu-item:link {
    background-color:      transparent;
    color:                 white;
}
a.menu-item:active,
a.menu-item.current:active {
    padding:               7px 14px 7px 14px;
    border:                1px solid #eee;
}
a.menu-item.current {
    background-color:      #eee;
    color:                 #36454f;
}

.facebook.social-icon,
.social-media:hover .facebook.social-icon:hover {
    background-position:   0px -70px;
}
.vimeo.social-icon,
.social-media:hover .vimeo.social-icon:hover {
    background-position:   -35px -70px;
}
.twitter.social-icon,
.social-media:hover .twitter.social-icon:hover {
    background-position:   -70px -70px;
}
.instagram.social-icon,
.social-media:hover .instagram.social-icon:hover {
    background-position:   -105px -70px;
}
.contact-us.social-icon,
.social-media:hover .contact-us.social-icon:hover {
    background-position:   -140px -70px;
}

footer .background-attribution {
    float:                 right;
    padding:               0 10px 0 5px;
    color:                 white;
    font-size:             14px;
    line-height:           14px;
    font-style:            italic;
}
footer .background-attribution a,
footer .background-attribution a:link,
footer .background-attribution a:active,
footer .background-attribution a:visited,
footer .background-attribution a:hover {
    color:                 #ececec;
    background:            transparent;
}

#welcome {
    padding:               100px 20px 80px 20px;
    margin:                0;
    text-align:            center;
    color:                 white;
}
#welcome h2,
#welcome h3,
#welcome h4 {
    margin:                0px;
    padding:               0px 0 0px 0;
    color:                 white;
    font-family:           'Architects Daughter', sans-serif;
    font-weight:           bold;
    text-shadow:           0 4px 10px rgba(150, 150, 150, 0.8);
}
#welcome h2 {
    font-size:             76px;
    line-height:           70px;
}
#welcome h3 {
    font-size:             51px;
    line-height:           60px;
}
#welcome h4 {
    font-size:             44px;
    line-height:           44px;
}
#highlights {
    padding:               0px;
    margin:                0 10px;
    min-height:            400px;
    text-align:            center;
}
#highlights .highlight {
    position:              relative;
    padding:               0;
    margin:                15px 30px;
    display:               inline-block;
    vertical-align:        top;
    width:                 220px;
    height:                290px;
    background:            rgba(255, 255, 255, 0.95);
    border:                4px solid white;
    border-radius:         30px;
    overflow:              hidden;
    box-shadow:            0 4px 10px rgba(150, 150, 150, 0.8);
    text-align:            left;

}
@media (max-width:1180px) {
#highlights .highlight {
    margin:                15px;
}
}

#highlights .highlight:active {
    box-shadow:            0 4px 10px rgba(255, 255, 255, 0.8);
}
.highlight h2 {
    font-family:           'Architects Daughter', sans-serif;
    font-weight:           bold;
    font-size:             23px;
    line-height:           28px;
    margin-bottom:         10px;
}
.highlight .highlight-details {
    padding:               10px 10px 5px 15px;
    margin:                0;
}
.highlight-details a:visited,
.highlight-details a:hover,
.highlight-details a:active,
.highlight-details a {
    color:                 #36454f;
    text-decoration:       none;
    outline:               0;
}
.highlight .highlight-details h2 {
    margin:                0;
}
.highlight .highlight-image {
    position:              absolute;
    left:                  0;
    bottom:                0;
    border-radius:         0 0 26px 26px;
}

#main-info {
    padding:               30px 20px 30px 60px;
    margin:                0;
}
#main-info .info-inner {
}
