{% load wagtailcore_tags wagtailimages_tags %}
<div class="card clearfix">
  {% if value.title %}
  <h3>{% include_block value.title %}</h3>
  {% endif %}
  <figure>
    {% image value.figure max-260x360 %}
    <figcaption>{{ value.figure_caption }}</figcaption>
  </figure>
  {% include_block value.content %}
</div>

