{% load wagtailimages_tags %}
<figure class="image-block {{ value.format }}">
{% if value.sizing == "1000x1000" %}
  {% image value.image max-1000x1000 %}
{% elif value.sizing == "600x500" %}
  {% image value.image max-600x500 %}
{% elif value.sizing == "300x240" %}
  {% image value.image max-300x240 %}
{% elif value.sizing == "250x200" %}
  {% image value.image max-250x200 %}
{% elif value.sizing == "100x100" %}
  {% image value.image fill-100x100 %}
{% else %}
  {% image value.image original %}
{% endif %}
{% if value.caption %}
  <figcaption>{{ value.caption }}</figcaption>
{% endif %}
</figure>
