{% load wagtailcore_tags %}
<div class="web-slider web-slider-up">
  <div class="web-slider-heading"><a href="javascript:void(0);" class="title">{% include_block value.title %}</a></div>
  <div class="web-slider-drawer clearfix">
    {% for block in value.content %}
      {% include_block block %}
    {% endfor %}
  </div>
</div>
