{% load wagtailembeds_tags %}
<figure class="video-block {{ value.format }}">
{% embed value.url 1000 %}
{% if value.sizing == "1000" %}
  {% embed value.video.url 1000 %}
{% elif value.sizing == "600" %}
  {% embed value.video.url 600 %}
{% elif value.sizing == "480" %}
  {% embed value.video.url 480 %}
{% else %}
  {% embed value.video.url 10000 %}
{% endif %}
{% if value.caption %}
  <figcaption>{{ value.caption }}</figcaption>
{% endif %}
</figure>
