{% extends "events/calendar_base.html" %}
{% load wagtailcore_tags %}

{% block events_view %}
<div class="events-view">
    {% include "events/includes/events_list_link.html" with link=page.listLink %}
    <a class="together" href="{{ thisWeekUrl }}" class="weekly">This Week</a> |
    <a class="together" href="{{ monthlyUrl }}" class="monthly">Monthly View</a>
</div>
{% endblock events_view %}

{% block cal_heading %}
<tr class="heading">
  <th colspan="7" class="week">
    <span class="week-heading">
      <a title="Previous week" href="{{ prevWeekUrl }}">&lt;</a>
      <div class="week-name">{{ weekName }}</div>
      <a title="Next week" href="{{ nextWeekUrl }}">&gt;</a>
    </span>
    <span class="year-heading">
      <a title="Previous year" href="{{ prevYearUrl }}">&lt;</a>
      <div class="year-number">{{ year }}</div>
      <a title="Next year" href="{{ nextYearUrl }}">&gt;</a>
    </span>
  </th>
</tr>
{% endblock cal_heading %}

{% block cal_body %}
<tbody class="weekly-view">
  {% for week in events %}
  {% block cal_week %}
  <tr>
    {% for evod in week %}
      {% include "events/includes/calendar_week_day.html" %}
    {% endfor %}
  </tr>
  {% endblock cal_week %}
  {% endfor %}
</tbody>
{% endblock cal_body %}
