{% extends "base.html" %}
{% load events_tags wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/calendar.css' %}">
{% endblock %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block background %}
  <div id="overlay"></div>
  <div class="popup-outer">
    <div id="read-more-events" class="calendar popup">
      <a class="close" href="#">×</a>  
      <div class="day-title"></div>
      <div class="days-events"></div>
    </div>
  </div>
{% endblock background %}

{% block content %}
  <div class="content">
    <div class="page-heading">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="content-inner">
      {{ page.intro|richtext }}

      {% block cal_options %}
      <div class="calendar-options clearfix">
        {% block events_view %}
        <div class="events-view">
        </div>
        {% endblock events_view %}
        {% block events_type_links %}
        <div class="events-type-links">
          {% with links=page.calendarLinks %}
          {% include "events/includes/events_type_link.html" with link=links.0 link1=links.1 link2=links.2 %}
          {% include "events/includes/events_type_link.html" with link=links.1 link2=links.2 %}
          {% include "events/includes/events_type_link.html" with link=links.2  %}
          {% endwith %}
        </div>
        {% endblock events_type_links %}
      </div>
      {% endblock cal_options %}
      <table class="calendar">
        <thead>
          {% block cal_heading %}
          <tr class="heading">
          </tr>
          {% endblock cal_heading %}
          {% block day_heading %}
          <tr>
            {% for dow in weekdayAbbr %}
            <th class="{{dow|lower}}">{{dow}}</th>
            {% endfor %}
          </tr>
          {% endblock day_heading %}
        </thead>
        {% block cal_body %}
        <tbody>
          {% for week in events %}
          <tr>
            {% for evod in week %}
              <td class="noday">&nbsp;</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
        {% endblock cal_body %}
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'events/js/calendar.js' %}"></script>
{% endblock %}
