{% extends "events/calendar_base.html" %}
{% load wagtailcore_tags %}

{% block events_view %}
<div class="events-view">
    {% include "events/includes/events_list_link.html" with link=page.listLink %}
    <a class="together" href="{{ weeklyUrl }}" class="weekly">Weekly View</a> |
    <a class="together" href="{{ thisMonthUrl }}" class="monthly">This Month</a>
</div>
{% endblock events_view %}

{% block cal_heading %}
<tr class="heading">
  <th colspan="7" class="month">
    <span class="month-heading">
      <a title="Previous month" href="{{ prevMonthUrl }}">&lt;</a>
      <div class="month-name">{{ monthName }}</div>
      <a title="Next month" href="{{ nextMonthUrl }}">&gt;</a>
    </span>
    <span class="year-heading">
      <a title="Previous year" href="{{ prevYearUrl }}">&lt;</a>
      <div class="year-number">{{ year }}</div>
      <a title="Next year" href="{{ nextYearUrl }}">&gt;</a>
    </span>
  </th>
</tr>
{% endblock cal_heading %}

{% block cal_body %}
<tbody class="monthly-view">
  {% for week in events %}
  {% block cal_week %}
  <tr>
    {% for evod in week %}
      {% include "events/includes/calendar_month_day.html" %}
    {% endfor %}
  </tr>
  {% endblock cal_week %}
  {% endfor %}
</tbody>
{% endblock cal_body %}
