{% extends "base.html" %}
{% load events_tags wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}
{% with event=page.overrides %}
  <div class="content">
    <div class="event clearfix">
      {% if page.status %}
      <div class="event-status">
        {{ page.status_text }}
      </div>
      {% endif %}
      <h1 class="event-heading">{{ page.exception_title }}</h1>
      <div class="event-image">
        {% image event.image width-350 %}
      </div>
      {% if event.group %}
      <div class="event-group-page">
        <a href="{% pageurl event.group %}"><h4>{{ event.group.title }}</h4></a>
      </div>
      {% endif %}
      <div class="event-when">
        {{ page.when }}
      </div>
      {% if event.location %}
      <div class="event-location">
        {{ event.location }}
      </div>
      {% endif %}
      {% if event.website %}
      <div class="event-website">
        <a href="{{ event.website }}" target="_blank">{{ event.website }}</a>
      </div>
      {% endif %}
      <div class="event-extra-info">
        {{ page.extra_information|richtext }}
      </div> 
      <div class="event-details">
        {{ event.details|richtext }}
      </div> 
    </div>
    <div class="event-overrides page-index">
      <a class="item" href="{% pageurl event %}">See also <div class="item-heading">other occurences</div> of this event.</a>
    </div>
  </div>
{% endwith %}
{% endblock %}
