{% extends "events/calendar_week.html" %}
{% load wagtailcore_tags share_tags %}

{% block events_view %}
<div class="events-view">
    {# {% share_one_off_event %} #}
    {% include "events/includes/events_list_link.html" with link=page.listLink %}
    <a class="together" href="{{ thisWeekUrl }}" class="weekly">This Week</a> |
    <a class="together" href="{{ monthlyUrl }}" class="monthly">Monthly View</a>
</div>
{% endblock events_view %}
