{% extends "events/calendar_month.html" %}
{% load wagtailcore_tags share_tags %}

{% block events_view %}
<div class="events-view">
    {# {% share_one_off_event %} #}
    {% include "events/includes/events_list_link.html" with link=page.listLink %}
    <a class="together" href="{{ weeklyUrl }}" class="weekly">Weekly View</a> |
    <a class="together" href="{{ thisMonthUrl }}" class="monthly">This Month</a>
</div>
{% endblock events_view %}
