{% extends "base.html" %}
{% load events_tags wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="event clearfix">
      {% if page.status %}
      <div class="event-status">
        {{ page.status_text }}
      </div>
      {% endif %}
      {% if page.postponement_title %}
        <h1 class="event-heading">{{ page.postponement_title }}</h1>
      {% else %}
        <h1 class="event-heading">{{ page.title }}</h1>
      {% endif %}
      <div class="event-image">
        {% image page.image width-350 %}
      </div>
      {% if page.group %}
      <div class="event-group-page">
        <a href="{% pageurl page.group %}"><h4>{{ page.group.title }}</h4></a>
      </div>
      {% endif %}
      <div class="event-when">
        {{ page.when }}
      </div>
      <div class="event-postponed-from">
        Postponed from {{ page.cancellationpage.when }}
      </div>
      {% if page.location %}
      <div class="event-location">
        {{ page.location }}
      </div>
      {% endif %}
      {% if event.website %}
      <div class="event-website">
        <a href="{{ event.website }}" target="_blank">{{ event.website }}</a>
      </div>
      {% endif %}
      <div class="event-cancellation-details">
        {{ page.details|richtext }}
      </div> 
    </div>
    <div class="event-overrides page-index">
      <a class="item" href="{% pageurl page.overrides %}">See also <div class="item-heading">other occurences</div> of this event.</a>
    </div>
  </div>
{% endblock %}
