{% extends "base.html" %}
{% load website_tags static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="event clearfix">
      {% include "events/includes/event_details.html" with event=page %}
    </div>

    {% standard_index_listing calling_page=page %}
  </div>
{% endblock %}
