{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static events_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="page-heading">
    <h2>{{ page.title }}</h2>
  </div>
  {{ page.intro|richtext }}
  {% include "events/includes/events_list_calendar_options.html" %}
  {% regular_upcoming_events %}
</div>
{% endblock %}
